<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表排序</title>
</head>
<body>
<div id="root">
        <h2>列表过滤</h2>
        <input type="text" placeholder="请输入" v-model="keyWord">
        <button @click="sortType=2">升序</button>
        <button @click="sortType=1">降序</button>
        <button @click="sortType=0">恢复</button>
            <ul>
                <li v-for="p,index in fillperson" :key="index">{{p.id}}-{{p.name}}-{{p.age}}</li>
        </ul>
    </div>
    <script type="text/javascript" src="../vue.js"></script>
<script type="text/javascript">
    const vm = new Vue({
        el:'#root',
        data:{
            keyWord:'',
            sortType:0,
            person:[
                {id:'01',name:'zola',age:18},
                {id:'02',name:'mango',age:21},
                {id:'03',name:'banana',age:17},
            ],
            fillperson:[]
        },
        watch:{
            keyWord:{
                immediate: true,
                handler(value){
                    const arr= this.person.filter((p)=>{
                        return p.name.indexOf(value) !==-1
                    })
                    console.log(arr)
                    if (this.sortType){
                        arr.sort((v1,v2)=>{
                            return this.sortType===1?v2.age-v1.age:v1.age-v2.age
                        })
                    }
                    this.fillperson = arr
                }
            }
        }
    })
</script>
</script>
</body>
</html>